################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CGProj/v15
/CGProj/Debug
/Debug
/CGProj/Debug
/CGProj/Debug/CGProj.tlog
